@font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}
