.hero {
    display: flex;
    width: 100%;
    height: 98px;
    background-image:
        linear-gradient(to right, transparent, rgba(142, 45, 226, 0.5), rgba(74, 0, 224, 0.6)),
        url("../../../../images/patron-2.webp");
    background-size: cover, 50px;
    /* El degradado cubre toda el área */

}

@media screen and (min-width: 1240px) {
    .hero {
        height: 350px;
    }

}