.wrapper {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--gray30);
    margin: 2.5rem 1rem 2.5rem 1rem;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        flex-direction: row;
        margin: 80px 196px 80px 200px;
    }

}