.layout {
    margin: 0;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .layout {
        width: 75%;
        display: grid;
        grid-template-columns: auto 1fr;
    }
}