.image-subtitle {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.image-subtitle {
  counter-increment: titleList;
}

.subtitle::before {
  content: counter(titleList, decimal) ". ";
}

.image-subtitle img {
  /* border: 3px solid red; */
  margin-block-start: 24px;
  display: block;
}
