html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray30);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  /* border: 3px solid yellow; */
  width: 902px;
  margin: auto;
  /* inline-size: 500px; */
}

.main__content {
  background-color: #ffff;
}

a {
  color: var(--gray30);
}

h1 {
  font-size: 60px;
  margin-block-start: 64px;
  margin-block-end: 16px;
  font-weight: normal;
}

hr {
  margin-block: 40px;
  color: rgba(97, 97, 97, 0.2);
}

h2 {
  font-size: 32px;
  margin: 64px 0 20px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
}

p {
  line-height: 24px;
  /* margin: 0; */
  margin-top: 1rem;
}

pre {
  background-color: #fec62e;
  /* padding: 40px 350.05px 40px 40px; */
  padding: 40px;
  font-family: "Roboto";
  line-height: 24px;
  white-space: pre-wrap;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  border-left: 4px solid var(--gray30);
}

blockquote p {
  margin-bottom: 16px;
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: "-";
}

.section img {
  margin-top: 20px;
  width: 100%;
}

.section ol li {
  line-height: 24px;
}

.section ul li {
  margin-bottom: 16px;
}

.title {
  font-size: 14px;
  color: var(--gray10);
  line-height: 24px;
}

header li {
  margin-bottom: 16px;
}

.video {
  margin: 0;
  /* border: 3px solid blue; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-top: 16px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form__send {
  height: 48px;
  width: 119px;
  padding: 12px, 16px, 12px, 16px;
  border-radius: 90px;
  background-color: rgba(0, 0, 0, 1);
  color: #ffff;
  font-size: 16px;
}

.slider {
  margin-bottom: 40px;
}

.social-media img {
  margin-right: 22px;
}

/* @media screen and (min-width: 1366px) {
  .sidebar {
    margin-left: 116px;
  }
  .summary-container {
    margin-right: 24px;
  }
} */
