footer {
  background-color: rgba(33, 36, 41, 1);
  height: 174px;
  margin-top: 113px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer p {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
}
